.button {
  
}
.button-coppalse {

}
.read-more {

}

.button-pen {
  
}

.button-container {
display: flex;
justify-content: center;
gap: 20px;
}





.circle-arrow {
  width: 125px;
  height: 125px;
  border-radius: 100%;
  border: 1px solid $black;
  transition: 0.5s all;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: $black;
  z-index: 1;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
    width: 90px;
    height: 90px;
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
  svg {
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
      width: 50px;
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
    * {
      fill: none !important;
      stroke: $white;
    }
  }
  &:hover {
    border-color: $black;
    background-color: transparent;
    svg {
      * {
        stroke: $black;
      }
    }
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}