.button {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
    font-size: 12px;
  }
  @media(max-width: $xs){
    
  }
  
}
.button-collapse {
  border: 1px solid $brown;
  border-radius: 12px;
  padding: 0px 2px 0px 0px;
  display: flex;
  color: $brown;
  transition: all $delay;
  text-transform: uppercase;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
    padding: 0;
  }
  @media(max-width: $xs){
  
  }
  
  .button {
    &__text {
      display: flex;
      align-items: center;
      padding-left: 4px;
      width: 0px;
      overflow: hidden;
      transition: all $delay;
      position: relative;
      top: 1px;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        width: auto !important;
        padding-left: 16px;
      }
      @media(max-width: $sm){
        padding-left: 8px !important;
      }
      @media(max-width: $xs){
      
      }
      
    }
    &__graphic-el {
      position: relative;
      display: inline-block;
      min-height: 36px;
      min-width: 36px;
      overflow: hidden;
      border-radius: 12px;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        
      }
      @media(max-width: $sm){
        min-height: 28px;
        min-width: 28px;
        margin-left: -2px;
      }
      @media(max-width: $xs){
      
      }
      
      &::before, &::after {
        width: 100%;
        height: 100%;
        position: absolute;
        content: '';
        transition: all .5s;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/svg/arrow-top-right-brown-small.svg);
      }
      &::before {
        transform: translateX(-100%) translateY(100%);
        transition-delay: 0s;
      }
      &::after {
        transition-delay: 0.2s;
      }
    }
  }
  &:hover {
    .button {
      &__text {
        padding-left: 16px;
      }
      &__graphic-el {
        &::before, &::after {
        }
        &::before {
          transition-delay: 0.2s;
          transform: translateX(0%);
        }
        &::after {
          transition-delay: 0s;
          transform: translateX(100%) translatey(-100%);
        }
      }
    }
  }
}
.read-more {

}

.button-pen {
  display: flex;
  min-height: 36px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: $brown;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
    font-size: 12px;
  }
  @media(max-width: $xs){
  
  }
  
  .button {
    &__text {
      border: 1px solid $brown;
      border-radius: 12px;
      margin-right: -6px;
      display: flex;
      align-items: center;
      padding-left: 16px;
      padding-right: 16px;
      transition: all .5s;
      padding-top: 2px;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        
      }
      @media(max-width: $sm){
        padding-left: 14px;
        padding-right: 14px;
      }
      @media(max-width: $xs){
      
      }
      
    }
    &__graphic-el {
      border: 1px solid $brown;
      border-radius: 12px;
      min-width: 48px;
      position: relative;
      transition: all .5s;
      &::before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        content: '';
        background: url(../img/svg/pencil.svg) center no-repeat;
      }
    }
  }
  &:hover {
    color: $dark-brown;
    .button {
      &__text {
        border-color: $dark-brown;
        padding-right: 0;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right-color: transparent;
      }
      &__graphic-el {
        border-color: $dark-brown;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left-color: transparent;
        &::before {
          background-image: url(../img/svg/pencil-dark-brown.svg);
        }
      }
    }
  }
}

.button-container {
display: flex;
justify-content: center;
gap: 20px;
}





.circle-arrow {
  width: 125px;
  height: 125px;
  border-radius: 100%;
  border: 1px solid $black;
  transition: $delay all;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: $black;
  z-index: 1;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
    width: 90px;
    height: 90px;
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
  svg {
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
      width: 50px;
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
    * {
      fill: none !important;
      stroke: $white;
    }
  }
  &:hover {
    border-color: $black;
    background-color: transparent;
    svg {
      * {
        stroke: $black;
      }
    }
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}