.inline-form {
  max-width: 420px;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
  }
  @media(max-width: $xs){
    max-width: calc(100% - 60px);
  
  }
  
  &__title {
    font-size: 18px;
    font-weight: 500;
    color: $brown;
    margin-bottom: 24px;
    @media(max-width: $md){
      font-size: 16px;
    }
  }
  form {
    display: flex;

  }
  label {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    span {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      color: $brown;
      background-color: $black;
      padding-left: 6px;
      padding-right: 6px;
      border-left: 1px solid $brown;
      border-right: 1px solid $brown;
      left: 16px;
      top: -6px;
      // margin-bottom: -6px;
      position: relative;
      margin-right: auto;
      line-height: 0.8;
      padding-top: 3px;
      position: absolute;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        
      }
      @media(max-width: $sm){
        left: 11px;
      }
      @media(max-width: $xs){
      
      }
      
    }
    input:not([type="password"]) {
      text-transform: uppercase;
    }
    input {
      transition: all 0.5s;
      border: 1px solid $dark-brown;
      padding: 15px 16px;
      font-size: 14px;
      font-weight: 500;
      color: $light;
      border-radius: 12px;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        
      }
      @media(max-width: $sm){
        font-size: 12px;
        padding: 13px 12px;
      }
      @media(max-width: $xs){
      
      }
      
      &::placeholder {
        color: $dark-brown;
        text-transform: uppercase;
      }
      &:hover {
        border-color: $brown;
        border-right-color: transparent;
        &::placeholder {
          color: $brown;
        }
      }
    }
    p {
      display: none;
      color: $danger;
    }
    &.error {
      p {
        display: block;
      }
    }
  }
  *[type="submit"] {
    transition: all 0.5s;
    display: block;
    width: 64px;
    position: relative;
    border-radius: 12px;
    border: 1px solid $dark-brown;
    margin-left: -7px;
    &::before, &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
      transition: all .5s;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    &::before {
      background: url(../img/svg/pencil.svg) center no-repeat;
      transform: translateX(-100%);
      display: none;
    }
    &::after {
      background: url(../img/svg/pencil.svg) center no-repeat;
    }
  }
  &:hover, &.active {
    input {
      border-color: $brown;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: transparent;
      &::placeholder {
        color: $brown;
      }
    }
    *[type="submit"] {
      border-color: $brown;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: transparent !important;
    }
  }
}
.is-horizontal .f-carousel__nav .f-button.is-prev, .is-horizontal .fancybox__nav .f-button.is-prev {
  left: 2px;
}
.is-horizontal .f-carousel__nav .f-button.is-next, .is-horizontal .fancybox__nav .f-button.is-next {
  right: 2px;
}
form {

.choose-type {
  color: $brown;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  flex-wrap: wrap;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    margin-bottom: 28px;
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
  &__title {
    margin-right: 55px;
  }
  &__el-value {

  }
  &__body {
    display: flex;
  }
  &__el {
    cursor: pointer;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
    input {
      display: none;
      & + .choose-type__el-value {
        border: 1px solid $light-brown;
        padding: 9px 16px 9px 40px;
        border-radius: 12px;
        position: relative;
        display: block;
        &::before, &::after {
          top: 0;
          bottom: 0;
          margin: auto;
          position: absolute;
          content: '';
          border-radius: 100px;
        }
        &::before {
          left: 10px;
          border: 1px solid $brown;
          width: 20px;
          height: 20px;
          
        }
        &::after {
          width: 8px;
          height: 8px;
          left: 16px;
          background-color: $black;
          display: none;
        }
      }
      &:checked + .choose-type__el-value {
        &::after {
          display: flex;
        }
      }
    }
    &:hover {
      .choose-type__el-value {
        border-color: $brown;
      }
    }
  }
}

.price-value {
  display: flex;
  margin-bottom: 45px;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    margin-bottom: 28px;
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
  input {
    width: auto;
    min-width: auto;
  }

  

}
.buttons {
  display: flex;
  align-items: center;
  .buy-button {
    background-color: transparent;
    color: $brown;
    border-radius: 12px;
    min-height: 46px;
    padding: 11px 28px;
    text-transform: uppercase;
    font-family: 'Fixel';
    margin-right: 24px;
    position: relative;
    transition: all $delay;
    overflow: hidden;
    border: 1px solid $brown;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      width: 100%;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    &:hover {
      color: $light;
      &::before {
        width: 100%;
      }
    }
    &::before {
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 0;
      transition: all $delay;
      position: absolute;
      background-color: $brown;
      content: '';
    }
    span {
      position: relative;
    }
  }
  .read-more {
    @extend .header__menu-list-link;
    color: $black !important;
    padding: 0 !important;
    border: none !important;
    flex-shrink: 0;
    &::before {
      display: none;
    }
    &::after {
      background-color: $black !important;
    }
  }
}

}