section {
	display: block;
}
b, strong {
	font-style: italic;
	font-weight: 700;
	color: $brown;
}
.text-large {
	font-family: 'Nyght Serif';
	font-size: 58px;
	font-weight: 300;
	line-height: 120%;
	text-transform: uppercase;
	b, strong {
		font-style: italic;
		font-weight: 700;
		color: $brown;
	}
}
.text-medium {
	font-family: 'Nyght Serif';
	font-size: 50px;
	font-weight: 300;
	line-height: 120%;
	text-transform: uppercase;
	font-style: normal;
	b, strong {
		font-style: italic;
		font-weight: 700;
		color: $brown;
	}
}
.section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding-top: 150px;
	padding-bottom: 150px;
	overflow: hidden;
	position: relative;
	@media(max-width: $xl){
	
	}
	@media(max-width: $lg){
	
	}
	@media(max-width: $md){
		min-height: auto;
		padding-top: 60px;
		padding-bottom: 60px;
		
	}
	@media(max-width: $sm){
	}
	@media(max-width: $xs){
	
	}
	
  &__header {
    display: flex;
		margin-bottom: 90px;
		position: relative;

		@media(max-width: $xl){
		
		}
		@media(max-width: $lg){
		
		}
		@media(max-width: $md){
			justify-content: flex-start !important;
		}
		@media(max-width: $sm){
			flex-direction: column;
		}
		@media(max-width: $xs){
		
		}
		
    
  }
	&__title {
		margin-bottom: 60px;
	}
/* 	&:first-of-type {
		padding-top: 160px;
		@media(max-width: $xl){
		
		}
		@media(max-width: $lg){
		
		}
		@media(max-width: $md){
			
		}
		@media(max-width: $sm){
			padding-top: 90px;
		}
		@media(max-width: $xs){
		
		}
		
	}
	&:last-of-type {
		padding-bottom: 160px;
		@media(max-width: $xl){
		
		}
		@media(max-width: $lg){
		
		}
		@media(max-width: $md){
			
		}
		@media(max-width: $sm){
			padding-bottom: 120px;
		}
		@media(max-width: $xs){
		
		}
		
	} */
}