section {
	display: block;
}

.section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding-top: 90px;
	padding-bottom: 90px;
	overflow: hidden;
	position: relative;
	@media(max-width: $xl){
	
	}
	@media(max-width: $lg){
	
	}
	@media(max-width: $md){
		min-height: auto;
		padding-top: 60px;
		padding-bottom: 60px;
		
	}
	@media(max-width: $sm){
	}
	@media(max-width: $xs){
	
	}
	
  &__header {
    display: flex;
		margin-bottom: 90px;
		position: relative;

		@media(max-width: $xl){
		
		}
		@media(max-width: $lg){
		
		}
		@media(max-width: $md){
			justify-content: flex-start !important;
		}
		@media(max-width: $sm){
			flex-direction: column;
		}
		@media(max-width: $xs){
		
		}
		
    .section__title {
      display: flex;
      align-items: flex-start;
			flex-shrink: 0;
    }
  }
	&:first-of-type {
		padding-top: 160px;
		@media(max-width: $xl){
		
		}
		@media(max-width: $lg){
		
		}
		@media(max-width: $md){
			
		}
		@media(max-width: $sm){
			padding-top: 90px;
		}
		@media(max-width: $xs){
		
		}
		
	}
	&:last-of-type {
		padding-bottom: 160px;
		@media(max-width: $xl){
		
		}
		@media(max-width: $lg){
		
		}
		@media(max-width: $md){
			
		}
		@media(max-width: $sm){
			padding-bottom: 120px;
		}
		@media(max-width: $xs){
		
		}
		
	}
}