$xl: 1499px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 480px;
// colors
$black: #141511;
$dark-brown: #604536;
$brown: #9C7D69;
$light-brown: #CFBDB2;
$light: #E8E1D6;
$white: #ffffff;
$danger: #F12121;
// fonts
$mainFont: 'Fixel', sans-serif;
$secondaryFont: 'Nyght Serif', sans-serif;
//


@mixin itemGrid($n, $gap) {
  width: calc(100% / #{$n} - #{$gap}px + #{$gap}px / #{$n});
  margin-right: #{$gap}px;
  &:nth-child(#{$n + 1}n){
    margin-right: #{$gap}px;
  }
  &:nth-child(#{$n}n){
    margin-right: 0;
  }
}

