@use '../inc/media' as *;
@use '../inc/vars' as *;


.hero {
  background: url(../img/hero-bg-full.jpg) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 40px;
  color: $white;
  align-items: initial;
  .container {

  }
  &__img {
    display: none;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
  }
  &__blockquote-container {
    max-width: 310px;
    display: block;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    &::before {
      top: 0;
      right: calc(100% + 15px);
      margin: auto;
      position: absolute;
      content: '“';
      font-family: 'Nyght Serif';
      font-size: 174px;
      font-style: normal;
      font-weight: 400;
      line-height: 80%; /* 139.2px */
      letter-spacing: -3.48px;
      text-transform: uppercase;
      color: $dark-brown;
      
    }
  }
  &__blockquote {
    margin-bottom: 12px;
    
  }
  &__sign {
    img {

    }
  }
  &__author {
    color: $white;
    display: flex;
    align-items: flex-end;
  }
  &__author-post {
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1.6px;
    line-height: 2.3;
    margin-right: 50px;
    @media(max-width: $xl){
      font-size: 2.3vw;
      margin-right: 3.6vw;
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
  &__author-name {
    @media(max-width: $xl){
      font-size: 12.5vw;
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
}


.bio {
  .container {

  }
  .section__title {
    color: $brown;
    margin-bottom: 0;
    width: 25%;
    margin-bottom: -27px;
  }
  &__subtitle {
    text-indent: 25%;
    margin-bottom: 50px;
  }
  .row {
    & > * {

    }
  }
  &__img {

  }
  &__text {
    margin-bottom: 60px;
    p {
      font-size: 16px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .read-more {

  }
}


.press {
  min-height: auto;
  background-color: $brown;
  .container {

  }
  .section__title {
    color: $light;
  }
  &__row {
    display: flex;
    &:nth-of-type(odd) {
      
    }
    &:nth-of-type(even) {
      justify-content: flex-end;
      .press__el {
        &:before {
          right: auto;
          left: calc(100% + 85px);
        }
      }
    }
  }
  &__el {
    display: flex;
    height: 110px;
    margin-right: 220px;
    position: relative;
    &::before {
      width: 50px;
      height: 20px;
      top: 0;
      bottom: 0;
      right: calc(100% + 85px);
      margin: auto;
      position: absolute;
      content: '';
      background: url(../img/svg/sigh_down.svg) center no-repeat;
      background-size: contain;

    }
    &:nth-of-type(odd) {
      &::before {
        transform: rotate(180deg);
      }
    }
    &:hover {
      .press {


        &__el-logo {
          &::before {
            width: 100%;
          }
          
        }
        &__el-arrow {
          background-color: $dark-brown;
          transition: all 0.5s;
          &::before {
            transition-delay: 0.2s;
            transform: translateX(0%);
          }
          &::after {
            transition-delay: 0s;
            transform: translateX(100%) translatey(-100%);
          }
        }
      }
    }
  }
  &__el-logo {
    border: 1px solid rgba(207, 189, 178, 0.3);
    border-radius: 24px;
    transition: all 0.5s;
    display: flex;
    padding: 10px 15px;
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      width: 0;
      background-color: $dark-brown;
      transition: all 0.5s;
      position: absolute;
    }
    &--pravda {
      padding: 0 15px;
    }
    img {
      width: auto;
      max-width: none;
      position: relative;
    }
  }
  &__el-arrow {
    border: 1px solid rgba(207, 189, 178, 0.3);
    border-radius: 24px;
    width: 110px;
    position: relative;
    overflow: hidden;
    &::before,  &::after  {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.5s;
      background-image: url(../img/svg/arrow-top-right-light.svg);
    }
    &::before {
      transform: translateX(-100%) translateY(100%);
      transition-delay: 0s;
    }
    &::after {
      transition-delay: 0.2s;
    }
  }
}



.books {
  .container {

  }
  .row {

  }
  .section__title {
    color: $brown;
  }
  &__text {
    
  }
  &__el {
    cursor: pointer;
    a {
      display: block;
      color: $black;
    }
    &:hover {
      .books {
        &__el-img-container {
          border-radius: 24px;
        }
      }
      .button-collapse {
        .button {
          &__text {
            width: auto;
            padding-left: 16px;
          }
        }
      }
    }
  }
  &__el-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__el-title {
    margin-bottom: 8px;
  }
  &__el-price {
    
  }
  &__el-img-container {
    border-radius: 0px;
    transition: 0.5s all;
    overflow: hidden;
    margin-bottom: 10px;
  }
  &__el-img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }


  &--main {
    .books {
      &__el {
        margin-bottom: 100px;
        &:last-of-type {
          margin-bottom: 0;
        }
        
      }
      &__text {
        margin-bottom: 100px;
      }
    }
  }



  &--section {
    
  .section__header {
    margin-bottom: 60px;
  }
    .section__title {

    }
    .books {
      &__text {

      }
      &__el {
        position: relative;
        .button-collapse {
          overflow: visible;
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            content: '';
          }
        }
      }
      &__el-img {
    
      }
      &__el-description {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      
      &__el-description-left {
        
      }
      &__el-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 4px;
        font-family: 'Fixel';
      }
      &__el-price {
    
      }
      
      
    }
  }
}





.events {
  .section__title {
    color: $brown;
  }
  .container {

  }
}

.events-list {
  counter-reset: event;
  font-size: 14px;
  &__el {
    border-top: 1px solid transparentize($brown, 0.5);
    transition: all 0.5s;
    padding: 40px 0px;
    cursor: pointer;
    &:hover {
      border-color: $black !important;
      .events-list__address {
        color: $black;
      }
    }
    &:last-of-type {
      border-bottom: 1px solid transparentize($brown, 0.5);
    }
  }
  .row {
    & > *:nth-of-type(1) {
      order: 1;
    }
    & > *:nth-of-type(2) {
      order: 0;
    }
    & > *:nth-of-type(3) {
      order: 2;
    }
  }
  &__el-main {
    position: relative;
    margin-top: -6px;
    &::before {
      color: $brown;
      position: absolute;
      right: calc(100% + 10px);
      counter-increment: event;
      content: '(0' counter(event) ')';
      top: 7px;
      font-size: 14px;
    }
  }
  &__el-title {

  }
  &__el-img {
    display: none;
  }

  &__date {
    text-transform: uppercase;
    * {
      display: block;
    }
  }
  &__address {
    color: $brown;
    text-transform: uppercase;
    font-style: normal;
    transition: all 0.5s;
  }
  &.active {
    .events-list {
      &__el {
        opacity: 0.2;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}



.blog {
  background: url(../img/blog-bg.jpg) center no-repeat;
  background-attachment: fixed;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../img/blog-mask.svg) center no-repeat;
    background-size: cover;
  }
  .container {
    position: relative;
  }
  .section__title {
    color: $light;
    margin-bottom: -16px;
  }
  &__content {

  }
  &__el {
    max-width: 66%;
    margin-left: auto;
    margin-right: auto;
    a {
      color: $light;
      display: block;
    }
  }
  &__el-img {
    width: 100%;
    height: 100%;
    max-height: 560px;
    object-fit: cover;
  }
  &__el-description {
    display: flex;
    padding-top: 16px;
  }
  &__el-date {
    flex-shrink: 0;
    margin-right: 15px;
    line-height: 140%; /* 19.6px */
    letter-spacing: 0.28px;
    font-family: 'Fixel';
    opacity: 0.5;
    padding-top: 4px;
  }
  &__el-text {

  }
  &__el-title {
    color: $white;
    margin-bottom: 8px;
  }
  &__el-short {
    font-size: 16px;
    font-family: 'Fixel';
    max-width: 420px;
    color: $white;
  }
}


.socials {
  min-height: auto;
  .container {
    & > .row {
      justify-content: space-between;
    }
  }
  .section__title {
    color: $brown;
  }
  &__header {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    .button-pen {
      margin-right: auto;
      margin-left: 0;
    }
  }
  &__title {
    margin-bottom: 5px;
  }
  .socials-card {
    a {
      display: block;
    }
  }

  .insta-block {
    a {
      display: flex;
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s;
      display: block;
    }
    .row {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      & > * {
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
    & > .row {
      & > .col {
        flex: none;
        &:nth-of-type(1) {
          width: 60%;
        }
        &:nth-of-type(2) {
          width: 40%;
        }
      }
    }
    & > .row {
      & > * > a > img {

      }
    }
    & .row .row {
      & > * > a > img {

      }
    }
    a {
      img {

      }
    }
  }
}


.collabs {
  min-height: auto;
  .container {

  }
  .section__title {
    color: $brown;
  }
}
.collabs-list {
  &__el {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 7px;
    border-top: 1px solid transparentize($brown, 0.5);
    
    &:nth-of-type(odd) {
      flex-direction: row-reverse;
      .collabs-list__el-info {
        flex-direction: row-reverse;
      }
      .btn-container {
        
        
      }
      .collabs-list {
        &__el-post {
          margin-left: 100px;
        }
        &__el-name {
          
        }
      }
    }
    
    &:nth-of-type(even) {
      .btn-container {
        
        .button-collapse {
          margin-right: 0;
          margin-left: auto;
        }
      }
      .collabs-list {
        &__el-post {
          margin-right: 100px;
        }
        &__el-name {
         
        }
      }
    }
    &-info {
      display: flex;
      justify-content: space-between;
      flex-shrink: 0;
    }
    .btn-container {
      display: flex;
      align-items: flex-start;
    }
    .button-collapse {
      display: flex;
      font-size: 14px;
      text-transform: uppercase;
      color: $brown;
      min-height: 36px;
      align-items: center;
      flex-shrink: 0;
    }
  }
  &__el-name {

  }
  &__el-post {
    opacity: 0.4;
    color: $brown;
  }
}



.prefooter {
  padding: 0;
  &__content {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
