@use '../inc/media' as *;
@use '../inc/vars' as *;


.hero {
  background: url(../img/hero-bg-full.jpg) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 40px;
  color: $white;
  align-items: initial;
  @media(max-width: $xl){
    padding-bottom: 3vw;
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
  .container {

  }
  &__img {
    display: none;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
  }
  &__blockquote-container {
    max-width: 310px;
    display: block;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    margin-top: auto;
    margin-bottom: 40px;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
      max-width: 267px;
    }
    
    &::before {
      top: 0;
      right: calc(100% + 15px);
      margin: auto;
      position: absolute;
      content: '“';
      font-family: 'Nyght Serif';
      font-size: 174px;
      font-style: normal;
      font-weight: 400;
      line-height: 80%; /* 139.2px */
      letter-spacing: -3.48px;
      text-transform: uppercase;
      color: $dark-brown;
      
    }
  }
  &__blockquote {
    margin-bottom: 12px;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
  &__sign {
    text-align: right;
    img {

    }
  }
  &__author {
    color: $white;
    display: flex;
    align-items: flex-end;
    @media(max-width: $xl){
      line-height: 12.5vw;
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
      flex-direction: column;
    }
    
  }
  &__author-post {
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1.6px;
    line-height: 2.3;
    margin-right: 50px;
    @media(max-width: $xl){
      font-size: 2.3vw;
      margin-right: 3.6vw;
      line-height: 7vw;
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
      font-size: 3.9vw;
      margin-right: 3vw;
      line-height: 0vw;
      top: 7vw;
      position: relative;
    }
    
  }
  &__author-name {
    @media(max-width: $xl){
      font-size: 12.5vw;
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
      font-size: 16vw;
      line-height: 15vw;
      letter-spacing: 0.1vw;
    }
    
  }
}


.bio {
  .container {

  }
  .section__title {
    color: $brown;
    margin-bottom: 0;
    width: 25%;
    margin-bottom: -27px;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
      margin-bottom: 24px;
      width: 100%;
    }
    @media(max-width: $xs){
    
    }
    
  }
  &__subtitle {
    text-indent: 25%;
    margin-bottom: 50px;
    text-align: justify;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
      text-indent: 16.6%;
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
      margin-bottom: 20px;
      text-indent: 0;
      font-size: 5.2vw;
      
    }
    @media(max-width: $xs){
    
    }
    
  }
  .row {
    & > * {

    }
  }
  &__img {
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
      margin-top: 32px;
    }
    
  }
  &__text {
    margin-bottom: 60px;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
      margin-bottom: 30px;
    }
    @media(max-width: $xs){
    
    }
    
    p {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .read-more {

  }
}


.press {
  min-height: auto;
  background-color: $brown;
  .container {

  }
  .section__title {
    color: $light;
  }
  &__row {
    display: flex;
    transition: all 0.1s;
    &:nth-of-type(odd) {
      
    }
    &:nth-of-type(even) {
      justify-content: flex-end;
      .press__el {
        &:before {
          right: auto;
          left: calc(100% + 85px);
          @media(max-width: $xl){
      
          }
          @media(max-width: $lg){
          
          }
          @media(max-width: $md){
            left: calc(100% + 50px);
          }
          @media(max-width: $sm){
          
          }
          @media(max-width: $xs){
          
          }
        }
      }
    }
  }
  &__el {
    display: flex;
    height: 110px;
    margin-right: 220px;
    position: relative;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      height: 90px;
      margin-right: 150px;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
    &::before {
      width: 50px;
      height: 20px;
      top: 0;
      bottom: 0;
      right: calc(100% + 85px);
      margin: auto;
      position: absolute;
      content: '';
      background: url(../img/svg/sigh_down.svg) center no-repeat;
      background-size: contain;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        right: calc(100% + 50px);
      }
      @media(max-width: $sm){
      
      }
      @media(max-width: $xs){
      
      }
      
    }
    &:nth-of-type(odd) {
      &::before {
        transform: rotate(180deg);
      }
    }
    &:hover {
      .press {


        &__el-logo {
          &::before {
            width: 100%;
          }
          
        }
        &__el-arrow {
          background-color: $dark-brown;
          transition: all $delay;
          &::before {
            transition-delay: 0.2s;
            transform: translateX(0%);
          }
          &::after {
            transition-delay: 0s;
            transform: translateX(100%) translatey(-100%);
          }
        }
      }
    }
  }
  &__el-logo {
    border: 1px solid rgba(207, 189, 178, 0.3);
    border-radius: 24px;
    transition: all $delay;
    display: flex;
    padding: 10px 15px;
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      width: 0;
      background-color: $dark-brown;
      transition: all $delay;
      position: absolute;
    }
    &--pravda {
      padding: 0 15px;
    }
    img {
      width: auto;
      max-width: none;
      position: relative;
    }
  }
  &__el-arrow {
    border: 1px solid rgba(207, 189, 178, 0.3);
    border-radius: 24px;
    width: 110px;
    position: relative;
    overflow: hidden;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      width: 90px;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
    &::before,  &::after  {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      transition: all $delay;
      background-image: url(../img/svg/arrow-top-right-light.svg);
    }
    &::before {
      transform: translateX(-100%) translateY(100%);
      transition-delay: 0s;
    }
    &::after {
      transition-delay: 0.2s;
    }
  }
}



.books {
  .books-row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    & > * {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
  .container {

  }
  .row {

  }
  .section__title {
    color: $brown;
  }
  &__text {
    
  }
  &__el {
    cursor: pointer;
    max-width: 362px;
    margin-left: auto;
    margin-right: auto;
    a {
      display: block;
      color: $black;
    }
    &:hover {
      .books {
        &__el-img-container {
          border-radius: 24px;
        }
      }
      .button-collapse {
        .button {
          &__text {
            width: auto;
            padding-left: 16px;
          }
        }
      }
    }
  }
  &__el-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__el-title {
    margin-bottom: 8px;
  }
  &__el-price {
    
  }
  &__el-img-container {
    border-radius: 0px;
    transition: $delay all;
    overflow: hidden;
    margin-bottom: 10px;
  }
  &__el-img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }


  &--main {
    .books {
      &__el {
        margin-bottom: 100px;
        @media(max-width: $xl){
        
        }
        @media(max-width: $lg){
        
        }
        @media(max-width: $md){
          
        }
        @media(max-width: $sm){
        
        }
        @media(max-width: $xs){
          margin-bottom: 32px !important;
        }
        
        &:last-of-type {
          margin-bottom: 0;
        }
        .button-collapse {
          display: none;
          @media(max-width: $xl){
          
          }
          @media(max-width: $lg){
          
          }
          @media(max-width: $md){
            display: flex;
            
          }
          @media(max-width: $sm){
          }
          @media(max-width: $xs){
          
          }
          
        }
      }
      &__text {
        margin-bottom: 100px;
        @media(max-width: $xl){
        
        }
        @media(max-width: $lg){
        
        }
        @media(max-width: $md){
          
          margin-bottom: 32px;
        }
        @media(max-width: $sm){
        }
        @media(max-width: $xs){
          
        }
        
      }
    }
  }



  &--section {
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      padding-top: 0;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  .section__header {
    margin-bottom: 60px;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      margin-bottom: 32px;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
    .section__title {

    }
    .books {
      &__text {

      }
      &__el {
        position: relative;
        margin-bottom: 16px;
        .button-collapse {
          overflow: visible;
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            content: '';
          }
        }
      }
      &__el-img {
    
      }
      &__el-description {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      
      &__el-description-left {
        
      }
      &__el-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 4px;
        font-family: 'Fixel';
        @media(max-width: $xl){
        
        }
        @media(max-width: $lg){
        
        }
        @media(max-width: $md){
          
        }
        @media(max-width: $sm){
          font-size: 16px;
        }
        @media(max-width: $xs){
        
        }
        
      }
      &__el-price {
    
      }
      
      
    }
  }
}





.events {
  min-height: auto;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    padding-top: 0;
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
  .section__title {
    color: $brown;
  }
  .container {

  }
}

.events-list {
  counter-reset: event;
  font-size: 14px;
  &__el {
    border-top: 1px solid transparentize($brown, 0.5);
    transition: all $delay;
    padding: 40px 0px;
    cursor: pointer;
    position: relative;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      font-size: 12px;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
    &:hover {
      border-color: $black !important;
      z-index: 1;
      .events-list__address {
        color: $black;
      }
    }
    &:last-of-type {
      border-bottom: 1px solid transparentize($brown, 0.5);
    }
  }
  .row {
    & > *:nth-of-type(1) {
      order: 1;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        order: 0;
      }
      @media(max-width: $sm){
      
      }
      @media(max-width: $xs){
      
      }
      
    }
    & > *:nth-of-type(2) {
      order: 0;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        order: 2;
      }
      @media(max-width: $sm){
      
      }
      @media(max-width: $xs){
      
      }
      
    }
    & > *:nth-of-type(3) {
      order: 2;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        order: 1;
      }
      @media(max-width: $sm){
      
      }
      @media(max-width: $xs){
      
      }
      
    }
  }
  &__el-main {
    position: relative;
    margin-top: -6px;
    width: 749px;

    @media(max-width: $xl){
      width: 600px;
    }
    @media(max-width: $lg){
      width: 550px;
    }
    @media(max-width: $md){
      padding-left: 36px;
      width: 100%;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
    &::before {
      color: $brown;
      position: absolute;
      right: calc(100% + 10px);
      counter-increment: event;
      content: '(0' counter(event) ')';
      top: 7px;
      font-size: 14px;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        font-size: 12px;
        top: 3px;
        left: 0;
        right: auto;

      }
      @media(max-width: $sm){
      
      }
      @media(max-width: $xs){
      
      }
      
    }
  }
  &__el-title {
    width: 749px;

    @media(max-width: $xl){
      width: 600px;
    }
    @media(max-width: $lg){
      width: 550px;
    }
    @media(max-width: $md){
      margin-bottom: 8px;
      width: 100%;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
  &__el-hover {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: -75px;
    width: auto;
    right: 0;
    left: auto;
    margin-right: 0;
    margin-left: auto;
    opacity: 0;
    visibility: hidden;
    transition: all $delay;
    @media(max-width: $md) {
      display: none;
    }
    .events-list__el-title {
      color: $white;
      position: absolute;
      top: 75px;
      right: 0px;
    }
  }
  &__el-img {
    margin-right: 0;
    margin-left: auto;
    display: block;
    object-fit: cover;

  }


  &__date {
    text-transform: uppercase;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      margin-top: 4px;
      display: block;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
    * {
      display: block;
      @media(max-width: $md){
        display: inline-block;
        &:last-child {
          margin-left: 15px;
        }
      }
    }
  }
  &__address {
    color: $brown;
    text-transform: uppercase;
    font-style: normal;
    transition: all $delay;
    text-align: right;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      text-align: left;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
  &.active {
    .events-list {
      &__el {
        opacity: 0.2;
        &:hover {
          opacity: 1;
          .events-list__el-hover { 
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}



.blog {
  background: url(../img/blog-bg.jpg) center no-repeat;
  background-attachment: fixed;
  &__mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../img/svg/blog-mask.svg) center no-repeat;
    background-size: cover;
    height: 100vh;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      background-position: center 60%;
    }
    @media(max-width: $sm){
      background-position: center 62%;
    }
    @media(max-width: $xs){
      background-position: center 65%;
    
    }
    @media(max-width: $xxs){
      background-position: center 70%;
    
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../img/svg/blog-mask.svg) center no-repeat;
    background-size: cover;
    display: none;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      background-position: center 60%;
    }
    @media(max-width: $sm){
      background-position: center 62%;
    }
    @media(max-width: $xs){
      background-position: center 65%;
    
    }
    @media(max-width: $xxs){
      background-position: center 70%;
    
    }
    
  }
  .container {
    position: relative;
  }
  .section__title {
    color: $light;
    margin-bottom: -16px;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      margin-bottom: 300px;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
  &__content {

  }
  &__el {
    max-width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    &:last-of-type {
      margin-bottom: 0;
    }
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      max-width: 80%;
    }
    @media(max-width: $sm){
      max-width: 100%;
    }
    @media(max-width: $xs){
    
    }
    
    a {
      color: $light;
      display: block;
    }
  }
  &__el-img {
    width: 100%;
    height: 100%;
    max-height: 560px;
    object-fit: cover;
  }
  &__el-description {
    display: flex;
    padding-top: 8px;
    @media(max-width: $xl){
      
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      flex-direction: column;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
  &__el-date {
    flex-shrink: 0;
    margin-right: 15px;
    line-height: 140%; /* 19.6px */
    letter-spacing: 0.28px;
    font-family: 'Fixel';
    opacity: 0.5;
    padding-top: 4px;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      margin-right: 0;
      margin-bottom: 6px;
      
    }
    @media(max-width: $sm){
      font-size: 12px;
    }
    @media(max-width: $xs){
    
    }
    
  }
  &__el-text {

  }
  &__el-title {
    color: $white;
    margin-bottom: 8px;
  }
  &__el-short {
    font-family: 'Fixel';
    max-width: 420px;
    color: $white;
  }
}


.socials {
  min-height: auto;
  background-color: $light;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    padding-bottom: 0;
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
  .container {
    & > .row {
      justify-content: space-between;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        & > * {
          margin-bottom: 32px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      @media(max-width: $sm){
      
      }
      @media(max-width: $xs){
      
      }
      
    }
  }
  .section__title {
    color: $brown;
  }
  &__header {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    .button-pen {
      margin-right: auto;
      margin-left: 0;
    }
  }
  &__title {
    margin-bottom: 12px;
  }
  .socials-card {
    a {
      display: block;
    }
  }

  .insta-block {
    a {
      display: flex;
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all $delay;
      display: block;
    }
    .row {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      & > * {
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
    & > .row {
      & > .col {
        flex: none;
        &:nth-of-type(1) {
          width: 60%;
        }
        &:nth-of-type(2) {
          width: 40%;
        }
      }
    }
    & > .row {
      & > * > a > img {

      }
    }
    & .row .row {
      & > * > a > img {

      }
    }
    a {
      img {

      }
    }
  }
}


.collabs {
  min-height: auto;
  .container {

  }
  .section__title {
    color: $brown;
  }
}
.collabs-list {
  &__el {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 7px;
    border-top: 1px solid transparentize($brown, 0.5);
    position: relative;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      flex-direction: row !important;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    &::before {
      left: 0;
      top: 0;
      right: 0;
      height: 1px;
      background-color: $black;
      content: '';
      position: absolute;
      transition: $delay all;
      width: 0px;
    }
    &:nth-of-type(odd) {
      flex-direction: row-reverse;
      .collabs-list__el-info {
        flex-direction: row-reverse;
      }
      .btn-container {
        
        
      }
      .collabs-list {
        &__el-post {
          margin-left: 100px;
        }
        &__el-name {
          
        }
      }
    }
    
    &:nth-of-type(even) {
      .btn-container {
        
        .button-collapse {
          margin-right: 0;
          margin-left: auto;
        }
      }
      .collabs-list {
        &__el-post {
          margin-right: 100px;
        }
        &__el-name {
         
        }
      }
    }
    &-info {
      display: flex;
      justify-content: space-between;
      flex-shrink: 0;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        flex-direction: column !important;
      }
      @media(max-width: $sm){
      
      }
      @media(max-width: $xs){
      
      }
      
    }
    .btn-container {
      display: flex;
      align-items: flex-start;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        
      }
      @media(max-width: $sm){
        position: absolute;
        right: 0;
        top: 18px;
      }
      @media(max-width: $xs){
      
      }
      @media(max-width: $xxs){
        top: 3vw;
      }
      
    }
    .button-collapse {
      display: flex;
      font-size: 14px;
      text-transform: uppercase;
      color: $brown;
      min-height: 36px;
      align-items: center;
      flex-shrink: 0;
      &::before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        content: '';
        
      }
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  &__el-name {
    transition: all 1s;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      transform: none !important;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    @media(max-width: $xxs){
      font-size: 7vw;
    }
    
  }
  &__el-post {
    opacity: 0.4;
    color: $brown;
    transition: all 1s;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      transform: none !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    @media(max-width: $xxs){
      font-size: 7vw;
      min-height: 40px;
    }
    
  }
  &.active {
    
    .collabs-list {
      &__el-post {
        opacity: 1;
      }
    }
  }
}



.prefooter {
  padding: 0;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    min-height: auto;
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
  &__content {
    width: 100%;
    transform-origin: top center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
