.footer {
  background: $black;
  padding-top: 60px;
  .container {
    position: relative;
  }
  &__logo {
    display: flex;
    position: relative;
    img {

    }
  }
  .socials-list {
    &__el {

    }
    &__link {
      &--inst {

      }
      &--twitter {

      }
    }
  }
  .mailto {
    font-size: 90px;
    color: $light;
    font-weight: 300;
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: 'Nyght Serif';
    &__text {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(
        to right,
        $brown,
        $brown 50%,
        $light 50%
      );
      background-size: 200% 100%;
      background-position: 100%;
      transition: 0.5s all;
    }
    &__graphic-el {
      min-width: 120px;
      display: block;
      position: relative;
      margin-left: 15px;
      overflow: hidden;
      &::before, &::after {
        width: 100%;
        height: 100%;
        position: absolute;
        content: '';
        transition: all .5s;
      }
      &::before {
        background: url(../img/svg/arrow-right-brown-90.svg) center no-repeat;
        transform: translateX(-100%);
      }
      &::after {
        background: url(../img/svg/arrow-right-light-90.svg) center no-repeat;
      }
    }
    &:hover {
      .mailto__text {
        background-position: 0;
      }
      .mailto__graphic-el {
        &::before {
          transform: translateX(0%);
        }
        &::after {
          transform: translateX(100%);
        }
      }
    }
  }


  &__footer {
    border-top: 1px solid $light-brown;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Fixel';
    font-weight: 400;
    
    .row {
      & > * {
        padding-top: 5px;
        padding-bottom: 5px;
        &:last-child {
          text-align: right;
        }
      }
    }
    * {
      color: $brown;
      font-size: 14px;
    }
  }
}



.socials-list {
  display: flex;
  justify-content: flex-end;
  &__el {
    margin-left: 16px;

  }
  &__link {
    width: 48px;
    height: 48px;
    border: 1px solid $brown;
    border-radius: 100px;
    display: flex;
    position: relative;
    overflow: hidden;
    &::before, &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
      transition: all .5s;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
    }
    &::before {
      transform: translateX(-100%);
      transition-delay: 0s;
    }
    &::after {
      transition-delay: 0.2s;
    }
    &--inst {
      &::before {
        background-image: url(../img/svg/inst-brown.svg);
      }
      &::after {
        background-image: url(../img/svg/inst-brown.svg);
      }

    }
    &--twitter {
      &::before {
        background-image: url(../img/svg/x-brown.svg);
      }
      &::after {
        background-image: url(../img/svg/x-brown.svg);
      }
    }
    &:hover {
      &::before {
        transition-delay: 0.2s;
        transform: translateX(0%);
      }
      &::after {
        transition-delay: 0s;
        transform: translateX(100%);
      }
    }
  }
}